h2 {
    color: blue;
   padding: 5px;
   padding-top: 0px;
   margin: 0px;
   margin-bottom: 0px;
}

div {
    font-family: "Times New Roman", Times, serif;
    border-color: grey;
    background-color: grey;
    border-radius: 10px;
     border-width: 2px;
     border-top-style: solid;
     border-right-style: solid;
     border-left-style: dashed;
     border-bottom-style: dashed;
     box-shadow: 0px 5px 5px 0px;
    margin-bottom: 10px;
    margin-right: 250px;
     
}

img{
    border: 2px;
    border-color: black;
}